.body{
 background-color: #EEEEEE;	
}


.about{
display:inline-flex;
font-size: 10px;
}

.img-fluid {
  width: 70%;
  margin-top: 5%;
  margin-left: 20%;
}

.container{
 max-width: 100% !important;
 background-color:#EEEEEE;
}

.div{
 padding-top: 15%;
 margin-left: 7%;
 
}

.gap-1 {
/*  background-color:#548CA8 !important; */
} 

.mt-3 {
 padding-top: 5%;
 background-color: #548CA8 !important;
}

.text-center {
   background-color: #548CA8 !important;
}
